

@import url('https://fonts.googleapis.com/css?family=Lobster');
body{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;

    text-align: center;
    justify-content: space-around;
}

li{
    list-style-type: none;
    margin: 40px;
}
.image{
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
}
figure{
    overflow: hidden;
}

figcaption{
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 1px #111111;
    transform: rotate(-45deg);
    color: white;
    font-size: 30px;
    position: absolute;
    top: 70px;
    left: 45px;
}

img{
    transform: rotate(-45deg);
    margin-top: -110px;
    margin-left: -110px;
    height: 150%;
    transition: 0.8s;
    filter: blur(5px);
}

.image img:hover{
    filter: blur(0px);
}
.first{
    margin-top: 500px;
    max-width: 1280px;
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.second{
    max-width: 853px;
    margin-top: -180px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.third{
    max-width: 422px;
    margin-top: -180px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

